* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body, html {
    min-height: 1000px;
    height: 100%;
    font-family: 'Open Sans', sans-serif; 
  }
  
  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
  }

  .signup-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-container h2 {
    margin-bottom: 12px;
    font-size: 1.5rem;
    color: #1f1d1d;
    font-weight: 700;
  }
  
  .signup-container p {
    margin-bottom: 2rem;
    color: #9B9B9B; 
  }
  
  /* Стилізація полів вводу */
  .signup-container input[type="email"],
  .signup-container input[type="password"] {
    width: 100%;
    padding: 1rem;
    margin-bottom: 20px;
    border: 1px solid #E0E0E0; /* Світло-сірий колір бордюра */
    border-radius: 10px; /* Радіус закруглення */
    font-size: 1rem;
  }
  
  /* Стилізація кнопки "Continue" */
  .signup-container button {
    width: calc(100% - 2rem); /* Відніміть padding з обох сторін */
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #6200EE; /* Вибране фіолетове підкреслення */
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    
    .signup-container button:hover {
    background-color: #3700B3;
    }
    
    .signup-container .sign-in-link {
    color: #6200EE; 
    text-decoration: none;
    font-weight: bold;
    }

    .link-p {
        color: #1D1D1F;
    }

    .link-a {
        color: #775CE5;
    }
    
    .signup-container .error-message {
    color: red;
    text-align: center;
    margin-top: 1rem;
    }
    

    @media (min-width: 576px) {
    .signup-container {
    width: 400px; 
    margin: auto;
    }
    }
  